.container {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    user-select: none;
  }
}

