@use "../../styles/variables" as v;

div {
  width: 100%;
  height: 100%;


  &.section {
    border-radius: v.$border-radius v.$border-radius 0 0;
    background-color: v.$panel-color-opacity;
  }
}
