@use "../../styles/variables" as v;

.container {
  width: 100%;
  height: 100%;
  background-color: v.$panel-color-opacity;
  border-radius: 0 v.$border-radius v.$border-radius 0;


  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 1.3rem 0;

  &__skills {
    overflow: auto;
    padding-inline: 1.3rem;
    width: 100%;

    mat-tree {
      width: 100%;
      background-color: transparent;
      mat-tree-node {

        color: v.$text-color;
        font-size: 1.4rem;

        &.skills-group {
          font-weight: 500;

          mat-icon {
            transition: 0.1s linear;

            &.expanded {
              rotate: 180deg;
            }
          }
        }
      }
    }
  }
}
