<div class="container">
  <img [ngSrc]="'assets/logos/game-logo-128.png'" width="128" height="128"  priority/>
  <div class="container__skills">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node class="skill" *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="13px">
          <div class="skill__name">
            @if(node.iconName) {
              <mat-icon [svgIcon]="node.iconName" />
            }
            {{ node.name }}
          </div>
          @if(node.experienceLevel) {
            <span class="skill__level">({{node.experienceLevel}})</span>
          }
      </mat-tree-node>

      <mat-tree-node class="skills-group" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="13px">
        {{ node.name }}
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle' + node.name">
          <mat-icon [ngClass]="{expanded: treeControl.isExpanded(node)}" svgIcon="expand" />
        </button>
      </mat-tree-node>
    </mat-tree>
  </div>
</div>
